form {
  display: flex;
  flex-direction: column;

  @media (min-width: 600px) {
    margin: 0 auto;
    max-width: 800px;
  }

  button[type='submit'] {
    color: rgb(238, 238, 238);
    background-color: #111;
    align-self: flex-end;
    margin-top: 2em;
    font-size: 1.2em;
    padding: .5em 2em;
    border: 1px solid #444;
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
    box-shadow: 8px 8px 24px -14px rgba(66, 68, 90, 1);

    &:hover {
      color: #111;
      background-color: #eee;
    }
  }

  .global-error {
    align-self: flex-end;
    color: red;
    font-weight: bold;
    margin-top: .5em;
    font-size: 1.1em;
  }

  .answer {
    font-size: .8em;
    align-self: flex-end;
    font-style: italic;

    strong {
      color: navy;
    }
  }
}